/figures/*.png
/figures/*.pdf
/figures/*.svg
/figures/*tex
/figures/*.log
/figures/.Rhistory
/figures/Rplots.pdf
/gearshifft.aux
/gearshifft.run.xml
/gearshifft.pdf
/gearshifft.log
/gearshifft.bbl
/gearshifft.bcf
/gearshifft.blg
